/* Chateau.css */

/* Default styles for small screens */
body {
    background-color: DodgerBlue;
    color: White;
    font-family: Arial, sans-serif;
}

nav {
    text-align: center;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: White;
}

main {
    background-color: White;
    color: Navy;
}

/* Responsive styles for larger screens */
@media screen and (min-width: 600px) {
    body {
        background-color: LightSkyBlue;
        color: Navy;
    }

    header {
        background-color: DodgerBlue;
        color: Snow;
        font-family: Georgia, 'Times New Roman', serif;
    }
}